<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snack alfabet')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Alfabet</h1> <ul class="naastMekaar">
    <li th:each="letter:${alphabet}">
        <a th:href="@{/snacks/alphabet/{letter}(letter=${letter})}" th:text="${letter}"></a>
    </li>
</ul>
<div th:if="${letter}">
    <h2>Snacks die beginnen met <span th:text="${letter}"></span></h2>
    <ul>
        <li th:each="snack:${snacks}" th:object="${snack}">
            <span th:text="*{naam}"></span> &euro;
            <span th:text="*{prijs}"></span>
            <a th:href="@{/snacks/{id}/toevoegen/form(id=${snack.id})}">Update</a>
        </li>
    </ul>
</div>
</body>
</html>